extends layout

block content
  |  <a href="crear_empresa">Crear Empresa</a>
  |  <a href="listar_empresa">Listar Empresa</a>
  |  <a href="editar_calificacion">Editar Calificación</a>
  |  <a href="crear_calificacion">Crear Calificación</a>
  |  <a href="borrar_calificacion">Borrar Calificacion</a>
  
  